<div class="animated fadeIn ml-3">
  <h3 class="text-center">You re Almost done! continue below <span style="color: dodgerblue">Three</span> Steps</h3>
  <div class="row ">
    <div class="col-md-4 text-center mt-5">
      <circle-progress
        [animationDuration]="300"
        [animation]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundGradientStopColor]="'#d1d1d1'"
        [backgroundGradient]="true"
        [backgroundOpacity]=0.4
        [backgroundPadding]="0"
        [backgroundStrokeWidth]="0"
        [innerStrokeColor]="'#C7E596'"
        [innerStrokeWidth]="5"
        [maxPercent]="100"
        [outerStrokeColor]="'#2fff05'"
        [outerStrokeGradientStopColor]="'#c6e723'"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="35"
        [percent]="percentage"
        [radius]="92"
        [showInnerStroke]="true"
        [showSubtitle]="true"
        [space]="2"
        [startFromZero]="false"
        [subtitleColor]="'#444444'"
        [toFixed]="0"
        [unitsFontSize]="17"
      ></circle-progress>

      <ng-template #correct>
        <img alt="" src="../../../../assets/img/avatars/correct.png" style="width: 45px">
      </ng-template>

      <ng-template #wrong>
        <img alt="" src="../../../../assets/img/avatars/wrong.png" style="width: 45px">
      </ng-template>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-address-book-o bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2"> Paper Matching</div>

          <div class="float-right">
            <div *ngIf="isPaperOk; then correct; else wrong "></div>
          </div>

        </div>
        <div class=" card-footer">
          <div class="text-muted text-uppercase font-weight-bold font-xs">Type :{{type}}</div>
          <button class=" float-right btn btn-square btn-sm btn-success" type="button" data-toggle="modal" (click)="typeModal.show()">See More
            <i class="fa fa-angle-right "></i></button>


        </div>
        <div bsModal #typeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Paper Matching Issues</h4>
                <button type="button" class="close" (click)="typeModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="typeModal.hide()">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div>
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">Paper Layout Checker</div>
          <div class="float-right">
            <div *ngIf="isLayoutOk; then correct; else wrong "></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-muted text-uppercase font-weight-bold font-xs">Layout :{{layout}}</div>
          <button class=" float-right btn btn-square btn-sm btn-success" type="button" data-toggle="modal" (click)="layoutModal.show()">See More
            <i class="fa fa-angle-right"></i></button>

        </div>
      </div>

      <div bsModal #layoutModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Paper Layout Issues</h4>
              <button type="button" class="close" (click)="layoutModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="layoutModal.hide()">Close</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-line-chart bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">Reference Matching</div>
          <div class="float-right">
            <div *ngIf="isReferenceOk; then correct; else wrong "></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-muted text-uppercase font-weight-bold font-xs">Reference :{{reference}}</div>
          <button class=" float-right btn btn-square btn-sm btn-success" type="button" data-toggle="modal" (click)="referenceMatchingModal.show()">See More
            <i class="fa fa-angle-right "></i></button>
        </div>
      </div>

      <div bsModal #referenceMatchingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Paper Reference Matching Issues</h4>
              <button type="button" class="close" (click)="referenceMatchingModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="referenceMatchingModal.hide()">Close</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
  </div>
</div>





