<div class="animated fadeIn">
  <div class="card">
    <!--    <div class="card-header">-->
    <!--      <i class="icon-drop"></i> Theme colors-->
    <!--    </div>-->
    <div class="card-body">
      <div class="row text-justify p-3">

        <h3 style="color: royalblue">Welcome Chair!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
      </div>
    </div>
  </div>

  <p>Research Papers</p>
  <div class="row">
    <div class="col-6 col-lg-3">

      <div class="card ">
        <a class="nav-link" href="#"><span class="badge badge-pill badge-danger pull-right top-0 start-100 translate-middle">5</span></a>
        <div class="card-body  clearfix">

          <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h3 text-primary mb-0 mt-2">ML</div>
<!--          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>-->
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">

      <div class="card ">
        <a class="nav-link" href="#"><span class="badge badge-pill badge-danger pull-right top-0 start-100 translate-middle">13</span></a>
        <div class="card-body  clearfix">

          <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h3 text-primary mb-0 mt-2">SE</div>
          <!--          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>-->
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">

      <div class="card ">
        <a class="nav-link" href="#"><span class="badge badge-pill badge-danger pull-right top-0 start-100 translate-middle">15</span></a>
        <div class="card-body  clearfix">

          <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h3 text-primary mb-0 mt-2">IT</div>
          <!--          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>-->
        </div>
      </div>
    </div>


  </div>

</div>
