<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="text-center">

                  <img class="text-center" src="../../../assets/img/brand/et_logo.png" alt="" style="width: 150px; height: 140px">

                  </div>
                  <h4 class="text-center">Welcome back!</h4>
                  <p class="text-muted text-center">Log in to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Group ID" autocomplete="username" required>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="text-right mb-4">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>

                  <div class="row text-center">
                    <p class="col-12 text-muted">Don't have an account? <a routerLink="/register">Sign up</a></p>

                  </div>
                  <div class="row text-center">
                    <div class="col-12">
                      <button type="button" class="btn btn-primary px-4">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
