<!--<nav class="navbar navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">-->
<!--      <img src="../../../assets/img/brand/et_logo.png" alt="" width="80px" height="80px" class="d-inline-block align-text-top">-->
<!--      <span class="text-center justify-content-end" style="color: darkcyan">RPST</span>-->
<!--    </a>-->
<!--  </div>-->
<!--</nav>-->
<div class="app-body">


  <main class="main d-flex align-items-center">
    <div class="container">


      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form (ngSubmit)="loginAction()" [formGroup]="loginForm">
                  <div class="text-center">
                    <img alt="" class="text-center" src="../../../assets/img/brand/et_logo.png"
                         style="width: 150px; height: 140px">

                  </div>
                  <h4 class="text-center">Welcome back!</h4>
                  <p class="text-muted text-center">Log in to your account</p>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                      <div *ngIf="f.userName.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" formControlName="userPwd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userPwd.errors }" />
                    <div *ngIf="submitted && f.userPwd.errors" class="invalid-feedback">
                      <div *ngIf="f.userPwd.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="text-right mb-4">
                    <button class="btn btn-link px-0" type="button">Forgot password?</button>
                  </div>

                  <div class="row text-center">
                    <p class="col-12 text-muted">Don't have an account? <a routerLink="/register">Sign up</a></p>

                  </div>
                  <div class="row text-center">
                    <div class="col-12">
                      <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                      </button>
                      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
