
<div class="col-sm-12 col-md-12">
  <div class="card text-white bg-info text-center">
    <div class="card-body" style="background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);">
      <div class="row">

        <div class="col-md-4 pl-0">
          <img src="../../../../assets/img/avatars/img.png" alt="" class="lecture-dashboard-img">
        </div>
        <div class="col-md-6">
          <blockquote class="mt-5">
            <div class="row text-justify p-3">

              <h3>Welcome Chair!</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            </div>
          </blockquote>
        </div>

      </div>

    </div>
  </div>
</div><!--/.col-->


<div class="animated fadeIn ml-3">
  <h4>Research Papers</h4>
  <div class="row">
    <div class="col-6 col-lg-3">

      <div class="card " >
        <a class="nav-link" routerLink="../summary"><span class="badge badge-pill badge-danger pull-right top-0 start-100 translate-middle">5</span></a>
        <div class="card-body  clearfix pt-2">

          <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h2 mb-0 mt-2">ML</div>
          <!--          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>-->
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">

      <div class="card ">
        <a class="nav-link" href="#"><span class="badge badge-pill badge-danger pull-right top-0 start-100 translate-middle">13</span></a>
        <div class="card-body  clearfix pt-2">

          <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h2 text-primary mb-0 mt-2">SE</div>
          <!--          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>-->
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">

      <div class="card ">
        <a class="nav-link" href="#"><span class="badge badge-pill badge-danger pull-right top-0 start-100 translate-middle">15</span></a>
        <div class="card-body  clearfix pt-2">
          <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h2 text-primary mb-0 mt-2">IT</div>
          <!--          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>-->
        </div>
      </div>
    </div>


  </div>

</div>
