<div class="animated fadeIn ml-3">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Research Papers
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Student ID</th>
            <th>Date Submitted</th>
            <th>Department</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>IT015235</td>
            <td>2023/01/01</td>
            <td>ML</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td><button type="button" class=" btn btn-square btn-sm btn-success" routerLink="../summarization">SUMMARIZE
              <i class="fa fa-angle-right "></i></button></td>
          </tr>
          <tr>
            <td>IT016235</td>
            <td>2023/01/01</td>
            <td>ML</td>
            <td>
              <span class="badge badge-danger">Banned</span>
            </td>
            <td><button type="button" class=" btn btn-square btn-sm btn-success" routerLink="../summarization">SUMMARIZE
              <i class="fa fa-angle-right "></i></button></td>
          </tr>
          <tr>
            <td>IT025614</td>
            <td>2023/01/01</td>
            <td>ML</td>
            <td>
              <span class="badge badge-secondary">Inactive</span>
            </td>
            <td><button type="button" class=" btn btn-square btn-sm btn-success" routerLink="../summarization">SUMMARIZE
              <i class="fa fa-angle-right "></i></button></td>
          </tr>
          <tr>
            <td>IT0456235</td>
            <td>2023/01/01</td>
            <td>ML</td>
            <td>
              <span class="badge badge-warning">Pending</span>
            </td>
            <td><button type="button" class=" btn btn-square btn-sm btn-success" routerLink="../summarization">SUMMARIZE
              <i class="fa fa-angle-right "></i></button></td>
          </tr>
          <tr>
            <td>IT052235</td>
            <td>2023/01/01</td>
            <td>ML</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
            <td><button type="button" class=" btn btn-square btn-sm btn-success" routerLink="../summarization">SUMMARIZE
              <i class="fa fa-angle-right "></i></button></td>
          </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
