<div class="animated fadeIn ml-3">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header bg-info text-white">
        Introduction
      </div>
      <div class="card-body">
        {{introduction}}
      </div>
    </div><!--/.col-->
  </div>

  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header bg-info text-white">
        Abstract
      </div>
      <div class="card-body">
        {{abstract}}
      </div>
    </div><!--/.col-->
  </div>

  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header bg-info text-white">
        Methodology
      </div>
      <div class="card-body">
        {{methodology}}
      </div>
    </div><!--/.col-->
  </div>


  <div class="row ">
    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
      <!--    <i class="fa fa-lightbulb-o"></i>-->
      <button class="btn btn-success m-3" type="button">&nbsp;PROCESS <i class="fa fa-clock-o"></i></button>
    </div>
  </div>

  <div class="col-sm-6 col-md-6 mt-2" >
    <div class="card">
      <div class="card-header">
        Research Paper Approved.
        <div class="card-header-actions">
          <span class="badge badge-success">Success</span>
        </div>
      </div>
      <div class="card-body">
        <div class="row p-3">
          <h4>Word Count : <span style="color: slategrey">3,500</span></h4> &nbsp;&nbsp;
          <h4>Pages : <span style="color: slategrey">85</span></h4>
        </div>
      </div>
    </div>
  </div><!--/.col-->

  <div class="col-sm-6 col-md-12 mt-2" >
    <div class="card">
      <div class="card-header">
        StudentID <span style="color: slategrey">IT015235</span>
      </div>
      <div class="card-body">

          <img src="../../../../assets/img/avatars/img_1.png" alt="" style="width: 100%">

      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
      <!--    <i class="fa fa-lightbulb-o"></i>-->
      <button class="btn btn-success m-3" type="button" (click)="doneBtnClick()">&nbsp;DONE <i class="fa fa-exclamation"></i></button>
    </div>
  </div>


</div>
