@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500,300);

/*.card {*/
/*  width: 300px;*/
/*  box-sizing: border-box;*/
/*  padding: 2em;*/
/*  font-family: Ubuntu;*/
/*  border-radius: 25px;*/
/*  color: white;*/
/*  line-height: 25px;*/
/*  box-shadow: 5px 5px 10px #ccc;*/
/*  float: left;*/
/*  margin-right: 1em;*/
/*}*/


/*button {*/
/*  text-transform: uppercase;*/
/*  width: 150px;*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*  color: #4600f1;*/
/*  border-radius: 50px;*/
/*  padding: 1em;*/
/*  background: white;*/
/*  border: none;*/
/*  font-weight: bold;*/
/*  margin-top: 4em;*/
/*}*/

/*for dropzone css*/

body {
  background: #ebeff2;
  font-family: "Exo 2";
}

.zone {
 margin: 22px 0px 36px;
  /* position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
  */
  /*background: radial-gradient(ellipse at center, #EB6A5A 0, #c9402f 100%);*/
  background:linear-gradient(135deg, #E3E3E3 0%,#5D6874 100%);
  width: 100%;
  height: 50%;
  border: 5px dashed white;
  text-align: center;
  color: white;
  z-index: 20;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .05), inset 0 0 .25em 0 rgba(0, 0, 0, .25);
}

.btnCompression {
}

.btn {

}

.active {
  background: #EB6A5A;
  color: white;
}

#dropZ i {
  text-align: center;
  font-size: 10em;
  color: #fff;
  margin-top: 10px;
}

.selectFile {
  height: 50px;
  margin: 20px auto;
  position: relative;
  width: 200px;
}

label, input {
  cursor: pointer;
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 5px;
}

label {
  background: #fff;
  color: #EB6A5A;
  display: inline-block;
  font-size: 1.2em;
  line-height: 50px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 1px 1px gray;
}

input[type=file] {
  opacity: 0;
}


.zone.in {
  color: white;
  border-color: white;
  background: radial-gradient(ellipse at center, #EB6A5A 0, #c9402f 100%);

}
i {
  color: #fff;
}

label {
  background: #fff;
  color: #EB6A5A;
}

.zone.hover {
  color: gray;
  border-color: white;
  background: #fff;
  border: 5px dashed gray;
}

i {
  /*color: #EB6A5A;*/
}

label {
  background: #fff;
  color: #EB6A5A;
}

.zone.fade {
  transition: all 0.3s ease-out;
  opacity: 1;
}

.student-dashboard-img{
  width: 80%;
  /*height: 50%;*/
}
.student-dashboard-quote{
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}


