<div class="animated fadeIn">
  <div class="col-sm-12 col-md-12">
    <div class="card text-white bg-info text-center">
      <div class="card-body" style="background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);">
        <div class="row">
          <div class="col-md-4 pl-0">
            <img alt="" class="student-dashboard-img" src="../../../../assets/img/avatars/img.png">
          </div>
          <div class="col-md-6">
            <blockquote class="mt-5">
              <h4>Upload Your Research Papers Here.</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer>Someone famous in
                <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote>
          </div>

        </div>

      </div>
    </div>
  </div><!--/.col-->
  <!--align-items-center mt-3-->


  <div class="zone">

    <div id="dropZ">
      <i class="fa fa-cloud-upload"></i>
      <div>Drag and drop your research file here</div>
      <span>OR</span>
      <div class="selectFile">
        <label for="file">Select file</label>
        <input id="file" name="files[]" type="file"  (change)="fileChange($event)">
      </div>
      <p>File size limit : 100 MB</p>
    </div>

  </div>

  <div class="row mb-5">
    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
      <button (click)="proceedBtnClick()" class="btn btn-primary mr-3" routerLink="../submission" type="button">&nbsp;
        PROCEED <i class="fa fa-arrow-circle-down"></i></button>
      <!--      <button class="btn btn-primary" type="button">&nbsp;Reference Style <i class="fa fa-lightbulb-o"></i></button>-->
    </div>
  </div>
</div>
